* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v49_550 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_551 {
  width: 574px;
  height: 60px;
  background: url("../images/v49_551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 29px;
  overflow: hidden;
}
.v49_552 {
  width: 185px;
  height: 60px;
  background: url("../images/v49_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_553 {
  width: 185px;
  height: 60px;
  background: rgba(255,106,106,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_554 {
  width: 33px;
  height: 33px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
}
.v49_555 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 74px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_556 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_557 {
  width: 100%;
  height: 513px;
  background: url("../images/v49_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 671px;
  overflow: hidden;
}
.v49_558 {
  width: 100%;
  height: 513px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v49_559 {
  width: 230px;
  height: 9px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 1189px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_560 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 16px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_561 {
  width: 100%;
  height: 132px;
  background: url("../images/v49_561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 948px;
  left: 0px;
  overflow: hidden;
}
.v49_562 {
  width: 100%;
  height: 132px;
  background: rgba(78,78,78,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_563 {
  width: 534px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 29px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_564 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1669px;
  border-radius: 50%;
}
.v49_565 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1744px;
  border-radius: 50%;
}
.v49_566 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1819px;
  border-radius: 50%;
}
.v49_567 {
  width: 40px;
  height: 40px;
  background: url("../images/v49_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1673px;
  overflow: hidden;
}
.v49_568 {
  width: 34px;
  height: 34px;
  background: url("../images/v49_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1751px;
  overflow: hidden;
}
.v49_569 {
  width: 34px;
  height: 34px;
  background: url("../images/v49_569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1826px;
  overflow: hidden;
}
.v49_570 {
  width: 212px;
  height: 44px;
  background: url("../images/v49_570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 1654px;
  overflow: hidden;
}
.v49_571 {
  width: 212px;
  height: 44px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v49_572 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_573 {
  width: 28px;
  height: 28px;
  background: url("../images/v49_573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 14px;
  overflow: hidden;
}
.v49_574 {
  width: 100%;
  height: 73px;
  background: url("../images/v49_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_575 {
  width: 100%;
  height: 73px;
  background: rgba(34,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_576 {
  width: 63px;
  height: 44px;
  background: url("../images/v49_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 29px;
  overflow: hidden;
}
.v49_577 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_578 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_579 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_580 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 820px;
  font-family: Amiko;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_581 {
  width: 302px;
  height: 60px;
  background: url("../images/v49_581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1577px;
  overflow: hidden;
}
.v49_582 {
  width: 302px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_583 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_584 {
  width: 48px;
  height: 48px;
  background: url("../images/v49_584.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 241px;
  overflow: hidden;
}
.v49_585 {
  width: 30px;
  height: 30px;
  background: url("../images/v49_585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 633px;
  overflow: hidden;
}
.v49_586 {
  width: 30px;
  height: 30px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(196,196,196,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v49_587 {
  width: 20px;
  height: 20px;
  background: url("../images/v49_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v49_588 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 44px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_589 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 29px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_590 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 688px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_591 {
  width: 604px;
  height: 184px;
  background: url("../images/v49_591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 29px;
  overflow: hidden;
}
.v49_592 {
  width: 604px;
  height: 184px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(41,178,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v49_593 {
  width: 128px;
  height: 128px;
  background: url("../images/v49_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 48px;
  overflow: hidden;
}
.v49_594 {
  width: 294px;
  height: 28px;
  background: url("../images/v49_594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 262px;
  overflow: hidden;
}
.v49_595 {
  width: 78px;
  height: 6px;
  background: url("../images/v49_595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v49_596 {
  width: 6px;
  height: 6px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_597 {
  width: 6px;
  height: 6px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 18px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_598 {
  width: 6px;
  height: 6px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 72px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_599 {
  width: 6px;
  height: 6px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 36px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_600 {
  width: 6px;
  height: 6px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 54px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v49_601 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 108px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_602 {
  width: 258px;
  height: 44px;
  background: url("../images/v49_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 375px;
  overflow: hidden;
}
.v49_603 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_604 {
  width: 144px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 114px;
  border: 3px solid rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v49_605 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 132px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v49_606 {
  width: 258px;
  height: 44px;
  background: url("../images/v49_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 29px;
  overflow: hidden;
}
.v49_607 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_608 {
  width: 144px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 114px;
  border: 3px solid rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v49_609 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 132px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v49_684 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_712 {
  width: 553px;
  height: 338px;
  background: url("../images/v49_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 683px;
  overflow: hidden;
}
.v49_697 {
  width: 553px;
  height: 338px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v49_699 {
  width: 393px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 42px;
  left: 80px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v49_700 {
  width: 393px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 80px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v49_705 {
  width: 210px;
  height: 56px;
  background: url("../images/v49_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 49px;
  overflow: hidden;
}
.v49_706 {
  width: 210px;
  height: 56px;
  background: rgba(41,178,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_707 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 22px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v49_708 {
  width: 210px;
  height: 56px;
  background: url("../images/v49_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 295px;
  overflow: hidden;
}
.v49_709 {
  width: 210px;
  height: 56px;
  background: rgba(255,106,106,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v49_710 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 22px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
