* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v37_658 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_673 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 996px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_674 {
  width: 883px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 996px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_682 {
  width: 870px;
  height: 530px;
  background: url("../images/v37_682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 29px;
  overflow: hidden;
}
.v37_683 {
  width: 870px;
  height: 530px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v37_684 {
  width: 586px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_685 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 690px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_675 {
  width: 844px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 55px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_686 {
  width: 665px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_336 {
  width: 100%;
  height: 132px;
  background: url("../images/v43_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 948px;
  left: 0px;
  overflow: hidden;
}
.v43_337 {
  width: 100%;
  height: 132px;
  background: rgba(78,78,78,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_338 {
  width: 534px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 29px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_339 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1669px;
  border-radius: 50%;
}
.v43_340 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1744px;
  border-radius: 50%;
}
.v43_341 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1819px;
  border-radius: 50%;
}
.v43_342 {
  width: 40px;
  height: 40px;
  background: url("../images/v43_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1673px;
  overflow: hidden;
}
.v43_343 {
  width: 34px;
  height: 34px;
  background: url("../images/v43_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1751px;
  overflow: hidden;
}
.v43_344 {
  width: 34px;
  height: 34px;
  background: url("../images/v43_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1826px;
  overflow: hidden;
}
.v43_345 {
  width: 100%;
  height: 73px;
  background: url("../images/v43_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_346 {
  width: 100%;
  height: 73px;
  background: rgba(34,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_33 {
  width: 63px;
  height: 44px;
  background: url("../images/v47_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 29px;
  overflow: hidden;
}
.v43_347 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_348 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_349 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_350 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 820px;
  font-family: Amiko;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_351 {
  width: 302px;
  height: 60px;
  background: url("../images/v43_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1577px;
  overflow: hidden;
}
.v43_352 {
  width: 302px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_353 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_354 {
  width: 48px;
  height: 48px;
  background: url("../images/v43_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 241px;
  overflow: hidden;
}
.v43_355 {
  width: 870px;
  height: 60px;
  background: url("../images/v43_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 29px;
  overflow: hidden;
}
.v43_356 {
  width: 185px;
  height: 60px;
  background: url("../images/v43_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_357 {
  width: 185px;
  height: 60px;
  background: rgba(255,106,106,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_358 {
  width: 33px;
  height: 33px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
}
.v43_359 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 74px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_360 {
  width: 659px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_363 {
  width: 394px;
  height: 44px;
  background: url("../images/v43_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 1240px;
  overflow: hidden;
}
.v43_364 {
  width: 394px;
  height: 44px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v43_365 {
  width: 261px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_362 {
  width: 28px;
  height: 28px;
  background: url("../images/v43_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 20px;
  overflow: hidden;
}
