* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  zoom: 75%;
}
.v43_755 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_756 {
  width: 100%;
  height: 132px;
  background: url("../images/v43_756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 948px;
  left: 0px;
  overflow: hidden;
}
.v43_757 {
  width: 100%;
  height: 132px;
  background: rgba(78,78,78,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_758 {
  width: 534px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 29px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_759 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1669px;
  border-radius: 50%;
}
.v43_760 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1744px;
  border-radius: 50%;
}
.v43_761 {
  width: 47px;
  height: 47px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1819px;
  border-radius: 50%;
}
.v43_762 {
  width: 40px;
  height: 40px;
  background: url("../images/v43_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1673px;
  overflow: hidden;
}
.v43_763 {
  width: 34px;
  height: 34px;
  background: url("../images/v43_763.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1751px;
  overflow: hidden;
}
.v43_764 {
  width: 34px;
  height: 34px;
  background: url("../images/v43_764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1826px;
  overflow: hidden;
}
.v43_765 {
  width: 100%;
  height: 73px;
  background: url("../images/v43_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_766 {
  width: 100%;
  height: 73px;
  background: rgba(34,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_8 {
  width: 63px;
  height: 44px;
  background: url("../images/v47_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 29px;
  overflow: hidden;
}
.v43_767 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_768 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_769 {
  width: 63px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_770 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 820px;
  font-family: Amiko;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_771 {
  width: 302px;
  height: 60px;
  background: url("../images/v43_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1577px;
  overflow: hidden;
}
.v43_772 {
  width: 302px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_773 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_774 {
  width: 48px;
  height: 48px;
  background: url("../images/v43_774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 241px;
  overflow: hidden;
}
.v43_775 {
  width: 870px;
  height: 60px;
  background: url("../images/v43_775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 29px;
  overflow: hidden;
}
.v43_776 {
  width: 185px;
  height: 60px;
  background: url("../images/v43_776.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_777 {
  width: 185px;
  height: 60px;
  background: rgba(255,106,106,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v43_778 {
  width: 33px;
  height: 33px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
}
.v43_779 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 74px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_780 {
  width: 659px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v43_812 {
  width: 850px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 253px;
  left: 285px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v43_818 {
  width: 270px;
  height: 298px;
  background: url("../images/v43_818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 639px;
  overflow: hidden;
}
.v43_803 {
  width: 235px;
  height: 235px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v43_809 {
  width: 270px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_814 {
  width: 147px;
  height: 147px;
  background: url("../images/v43_814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 62px;
  overflow: hidden;
}
.v43_819 {
  width: 235px;
  height: 298px;
  background: url("../images/v43_819.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 1029px;
  overflow: hidden;
}
.v43_804 {
  width: 235px;
  height: 235px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v43_810 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 44px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_815 {
  width: 147px;
  height: 147px;
  background: url("../images/v43_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 44px;
  overflow: hidden;
}
.v43_820 {
  width: 235px;
  height: 298px;
  background: url("../images/v43_820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 1401px;
  overflow: hidden;
}
.v43_805 {
  width: 235px;
  height: 235px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v43_811 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_816 {
  width: 147px;
  height: 147px;
  background: url("../images/v43_816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 44px;
  overflow: hidden;
}
.v43_817 {
  width: 235px;
  height: 298px;
  background: url("../images/v43_817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 285px;
  overflow: hidden;
}
.v43_802 {
  width: 235px;
  height: 235px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v43_813 {
  width: 147px;
  height: 147px;
  background: url("../images/v43_813.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 44px;
  overflow: hidden;
}
.v43_808 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
